.table {
	transform: translateZ(0);
}

.header-row {
	text-transform: uppercase;
}

.table-body {
	& * {
		font-weight: 600;
		font-size: 14px;
	}
	& h1, h1 span {
		font-weight: bold;
		font-size: 16px;
	}
}

.table-body.empty {
	& td {
		transform: translateZ(0);
	}
}

.timezonePicker {
	width: 100%;
	
	& input {
		border: none;
		&:focus {
			outline: 0;
			background: #fff;
			border: 2px solid $primary1Color;
		}
	}

	& ul {
		position: absolute;
		z-index: 10;
		background: #fff;
	}
}

.table-header {
}

:global(.clock) {
	& li {
		display: inline-block;
	}
}
